.pch
.ipch
.suo
.exe
.dll
**/debug/*
**/release/*

*.dll
*.dll
*.dll
*.dll
Microservices/HeadlessClient01/bin/Debug/CommonLibrary.dll
Microservices/Gateway/bin/Debug/CommonLibrary.dll
Microservices/CommonLibrary/obj/Debug/CommonLibrary.dll
Microservices/.vs/GatewayAndCommon/v15/Server/sqlite3/storage.ide-wal
Microservices/.vs/GatewayAndCommon/v15/Server/sqlite3/storage.ide-shm
Microservices/.vs/GatewayAndCommon/v15/Server/sqlite3/storage.ide
Microservices/Gateway/obj/Debug/Gateway.csprojAssemblyReference.cache
Microservices/HeadlessClient01/bin/Debug/CommonLibrary.dll
Microservices/LoginServer/bin/Debug/CommonLibrary.dll
Microservices/LoginServer/obj/Debug/LoginServer.csprojAssemblyReference.cache
Microservices/Non-DeserializingPacketReceiver/bin/Debug/CommonLibrary.dll
Microservices/Non-DeserializingPacketReceiver/obj/Debug/Non-DeserializingPacketReceiver.csprojAssemblyReference.cache
Microservices/Test_Client_Login/bin/Debug/CommonLibrary.dll
Microservices/SpatialPartitioningTest01/obj/Debug/netcoreapp2.1/SpatialPartitioningTest01.dll
Microservices/SpatialPartitioningTest01/obj/Debug/netcoreapp2.1/SpatialPartitioningTest01.csprojAssemblyReference.cache
Microservices/SpatialPartitioningTest01/bin/Debug/netcoreapp2.1/SpatialPartitioningTest01.dll
Microservices/Test_Client_TalkToGateway/bin/Debug/CommonLibrary.dll
Microservices/Test_Client_TalkToGateway/obj/Debug/Test_Client_TalkToGateway.csprojAssemblyReference.cache
Microservices/Test_Game_Server/bin/Debug/CommonLibrary.dll
Microservices/Test_Game_Server/obj/Debug/Test_Game_Server.csprojAssemblyReference.cache
Microservices/Test_Client_Login/bin/Debug/CommonLibrary.dll
Microservices/SpatialPartitioningTest01/obj/Debug/netcoreapp2.1/SpatialPartitioningTest01.dll
Microservices/SpatialPartitioningTest01/obj/Debug/netcoreapp2.1/SpatialPartitioningTest01.csprojAssemblyReference.cache
Microservices/SpatialPartitioningTest01/bin/Debug/netcoreapp2.1/SpatialPartitioningTest01.dll
Microservices/SpatialPartitioningTest01/bin/Debug/netcoreapp2.1/CommonLibrary.dll
Microservices/Non-DeserializingPacketReceiver/obj/Debug/Non-DeserializingPacketReceiver.csprojAssemblyReference.cache
Microservices/Non-DeserializingPacketReceiver/bin/Debug/CommonLibrary.dll
Microservices/LoginServer/obj/Debug/LoginServer.csprojAssemblyReference.cache
Microservices/LoginServer/bin/Debug/CommonLibrary.dll
Microservices/HeadlessClient01/bin/Debug/CommonLibrary.dll
Microservices/Gateway/obj/Debug/Gateway.csprojAssemblyReference.cache
Microservices/Gateway/bin/Debug/CommonLibrary.dll
Microservices/CommonLibrary/obj/Debug/CommonLibrary.dll
Microservices/CommonLibrary/bin/Debug/CommonLibrary.dll
Microservices/CommonLibrary/bin/Debug/CommonLibrary.dll
Microservices/CommonLibrary/obj/Debug/CommonLibrary.dll
Microservices/Gateway/bin/Debug/CommonLibrary.dll
Microservices/Gateway/obj/Debug/Gateway.csprojAssemblyReference.cache
Microservices/HeadlessClient01/bin/Debug/CommonLibrary.dll
Microservices/LoginServer/bin/Debug/CommonLibrary.dll
Microservices/LoginServer/obj/Debug/LoginServer.csprojAssemblyReference.cache
Microservices/Non-DeserializingPacketReceiver/bin/Debug/CommonLibrary.dll
Microservices/Non-DeserializingPacketReceiver/obj/Debug/Non-DeserializingPacketReceiver.csprojAssemblyReference.cache
Microservices/SpatialPartitioningTest01/bin/Debug/netcoreapp2.1/CommonLibrary.dll
Microservices/SpatialPartitioningTest01/bin/Debug/netcoreapp2.1/SpatialPartitioningTest01.dll
Microservices/SpatialPartitioningTest01/obj/Debug/netcoreapp2.1/SpatialPartitioningTest01.csprojAssemblyReference.cache
Microservices/SpatialPartitioningTest01/obj/Debug/netcoreapp2.1/SpatialPartitioningTest01.dll
Microservices/Test_Client_Login/bin/Debug/CommonLibrary.dll
Microservices/Test_Client_TalkToGateway/bin/Debug/CommonLibrary.dll
Microservices/Test_Client_TalkToGateway/obj/Debug/Test_Client_TalkToGateway.csprojAssemblyReference.cache
Microservices/Test_Game_Server/bin/Debug/CommonLibrary.dll
Microservices/Test_Game_Server/obj/Debug/Test_Game_Server.csprojAssemblyReference.cache
